.motivation {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../assets/motivation-bg.jpg") center/cover no-repeat;
  color: var(--light-color);
  height: 98vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  padding: 40px 20px;
  border-radius: 0;
}

.motivation-content {
  max-width: 600px;
}

.motivation h2 {
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 15px;
}

.motivation p {
  font-size: 1.1rem;
  margin-bottom: 30px;
  line-height: 1.6;
  color: white;
}

.motivation-btn {
  background: var(--primary-color);
  color: var(--light-color);
  padding: 12px 30px;
  border-radius: 30px;
  font-weight: 600;
  font-size: 1rem;
  transition: 0.5s;
}

.motivation-btn:hover {
  background: #ff527f;
}

@media (max-width: 768px) {
  .motivation h2 {
    font-size: 2.2rem;
  }
}